* {
  box-sizing: border-box;
}

body {
  background-color: #878E88;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: white;
}

.square {
  background: #fff;
  border: 2px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square-painted {
  background-color: black;
}

.square-cross::before {
  content: "X";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  left: 4px;
  bottom: 6px;
  background-color: white;
}

.board {
  display: grid;
  position: relative;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
 
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue-active {
  background-color: gold;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white; 
}

.switch-button {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display:none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: black;
  bottom: 4px;
  content: "";
  font-size: 23px;
  text-align: center;
  height: 26px;
  left: 4px;
  position: absolute;
  /* transition: .4s; */
  width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #ccc;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(26px);
  content: "X";
  text-align: center;
  background-color: white;
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}

.custom-cursor {
  cursor: url(./LightCursor.cur), crosshair;
}